<div class="card">
    <div class="card-header text-center">
        Form
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="id">ID</label>
                <input #ID type="text" class="form-control" id="id" placeholder="Enter ID">
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input #Name type="text" class="form-control" id="name" placeholder="Enter Name">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input #EmailID type="email" class="form-control" id="emailid" placeholder="Enter Email">
            </div>

            <div class="form-group">
                <label for="score">Score</label>
                <input disabled value="{{score}}" type="number" class="form-control" id="score" data-error="Invalid" required>
                <!-- <input #Score type="text" class="form-control" id="score" placeholder="Enter Score"> -->
            </div>
            <button type="submit" class="btn btn-primary" (click)='saveDetails(ID.value, Name.value, EmailID.value)'>Submit</button>
        </form>
    </div>
</div>