<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <button class="button btn btn-default" (click)="BoxClick(1,'box1')" id="box1"></button>
        </div>
        <div class="col-lg-4">
            <button class="button btn btn-default" (click)="BoxClick(2,'box2')" id="box2"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <button class="button btn btn-default" (click)="BoxClick(3,'box3')" id="box3"></button>
        </div>
        <div class="col-lg-4">
            <button class="button btn btn-default" (click)="BoxClick(4,'box4')" id="box4"></button>
        </div>
    </div>
</div>

<br>

<br>

<h3 class="text-center" *ngIf="!this.finish">Player Score:{{score}}</h3>
<h2 class="text-center" *ngIf="this.finish">Game Over. Your score is {{score}}.</h2><br><br><br>


<div>
    <button type="button" id="submit" class="btn btn-primary" (click)="modal.show()">Save</button>
</div>

<app-modal #modal>
    <div class="app-modal-header">

    </div>

    <div class="app-modal-body">

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Login</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <form id=myModal data-toggle="validator" role="form" #f="ngForm">

                        <div class="form-group">
                            <label for="id">ID</label>
                            <input #ID type="text" class="form-control" id="id" placeholder="Enter ID" required>
                        </div>

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input #Name type="text" class="form-control" id="name" placeholder="Enter Name" required>
                            <div>
                                Name is Required!
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input #EmailID type="email" class="form-control" id="emailid" placeholder="Enter Email" required>
                        </div>

                        <div class="form-group">
                            <label for="score">Score</label>
                            <input disabled value="{{score}}" type="number" class="form-control" id="score" data-error="Invalid">
                        </div>
                        <button type="submit" class="btn btn-primary" (click)='saveDetails(ID.value, Name.value, EmailID.value)' routerLink="/pre">Submit</button>
                    </form>
                </div>
            </div>
        </div>


    </div>

    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
    </div>
</app-modal>